name: Deploy

on:
    push:
        branches:
            - main

jobs:
    build:
        name: Build
        runs-on: ubuntu-latest
        
        steps:
        -   name: Checkout repo
            uses: actions/checkout@4

        -   name: Setup Node
            uses: actions/setup-node@v4
            with:
                node-version: 20
                cache: 'npm'
        
        -   name: Install dependencies
            uses: npm ci

        -   name: Build project
            run: npm run build -- --configuration production

        -   name: Upload build
            uses: actions/upload-artifact@v4
            with:
                name: production-files
                path: dist

    deploy:
        needs: build
        runs-on: ubuntu-latest
        if: github.ref == 'refs/heads/main'

        steps:
            - uses: actions/download-artifact@v4
            with:
                name: production-files
                path: dist

        - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
            github_token: ${{ secrets.GITHUB_TOKEN }}
            publish_dir: dist/amigo-de-patas